---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


<!---
# Use this block if you want to populate these fields automatically from entries in folder talks)
-->
<!---
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->


<!---
# Or use this block if you want to manually list each field below
-->

{% include base_path %}

* E.L. Pang, C.A. Schuh, “Overcoming difficulties with pseudosymmetry in electron backscatter diffraction: a case study in zirconia shape-memory ceramics,” New England Society for Microscopy Fall Symposium, Virtual, November 2020. Invited oral presentation.
* E.L. Pang, C.A. Schuh, “A digital revolution in electron backscatter diffraction,” MIT Industrial Liason Program: Digital Transformation in Metals Processing, Virtual, November 2020. Invited oral presentation.
* E.L. Pang, C.A. Schuh, “The effect of interface compatibility and grain constraint in ZrO2-based shape-memory ceramics,” TMS2020, San Diego, CA, February 2020. Oral presentation.
* E.L. Pang, P.M. Larsen, C.A. Schuh, “Accurate determination of EBSD pattern centers with applications in resolving pseudosymmetry,” TMS2020, San Diego, CA, February 2020. Oral presentation.
* E.L. Pang, A. Lai, S. Patala, C.A. Schuh, “Study of the cofactor conditions in ZrO2-based shape-memory ceramics,” MS&T18, Columbus, OH, October 2018. Oral presentation.
